<datepicker #rangeDatePicker></datepicker>
<br>
<br>
<modal-select-project #modalSelectProject></modal-select-project>
<br>
<br>
<button (click)="generateActivityFilter()">Submit ActivityFilter</button>
<br>
<br>

<div class="row">

  <table class="table table-bordered table-hover" mat-table [dataSource]="activityDataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="projectId">
      <tr>
        <th mat-header-cell *matHeaderCellDef> Project Id </th>
        <td mat-cell *matCellDef="let element"> {{element.projectId}}</td>
      </tr>
    </ng-container>

    <ng-container matColumnDef="projectTitle">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Project Title</th>
        <td mat-cell *matCellDef="let element"> {{element.projectTitle}}</td>
      </tr>
    </ng-container>

    <ng-container matColumnDef="description">
      <tr>
        <th mat-header-cell *matHeaderCellDef>description</th>
        <td mat-cell *matCellDef="let element"> {{element.description}}</td>
      </tr>
    </ng-container>

    <ng-container matColumnDef="hours">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element"> {{element.hours}} {{" minutes"}}</td>
      </tr>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Start Time</th>
        <td mat-cell *matCellDef="let element"> {{element.timeStart | date: "HH:mm dd-MM-yyyy"}}</td>
      </tr>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <tr>
        <th mat-header-cell *matHeaderCellDef>End time</th>
        <td mat-cell *matCellDef="let element"> {{element.timeEnd | date: "HH:mm dd-MM-yyyy"}}</td>
      </tr>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>



    <div class="peer">
      <button type="button" class="btn cur-p btn-primary"
              data-toggle="modal" data-target="#modal-add-activity">
        Add Activity
      </button>
    </div>

</div>


<modal-add-activity></modal-add-activity>

